---
layout: default
title: Archive
---

<div>

  <h2>Archive</h2>

  <section class="archive_list">
    {% for category in site.categories %}

    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>

  <footer class="article-footer" mar>
    {% include author.html %}
  </footer>
</div>


